<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles_ajuda.css">
        <title>Ajuda</title>
    </head>
    <body><center>
        <h1>Como  Utilizar este Sistema</h1><br>
        <h3>Menu:</h3><br>
        <p> Clicanco <a href="http://localhost:4999">aqui</a> você tem acesso ao menu, nele você encontra diversos botões, cada um deles representa uma funcionalidade desses sistema. Estes botões são:</p>
        <br><br><h3>Incluir nova pessoa:</h3><br>
        <p> Clicanco neste botão você tem acesso à página de cadastro de uma nova pessoa no sistema. Após clicar neste botão você sera redirecionado para uma página onde deverá inserir o nome e o sobrenome do participante e finalizar seu cadastro clicando no botão "Incluir" que se encontrará logo abaixo do formulário. <b>ATENÇÃO:</b> somente é possível fazer a listagem de salas após ja ter cadastrado ao menos duas pessoas.</p>
        <br><br><h3>Incluir nova sala:</h3><br>
        <p> Clicanco neste botão você tem acesso à página de cadastro de uma nova sala no sistema. Após clicar neste botão você sera redirecionado para uma página onde deverá inserir o nome da sala que você deseja cadastrar e informar a capacidade total daquela sala de receber pessoas, então você pode finalizar o cadastro clicando no botão "Incluir" que se encontrará logo abaixo do formulário. <b>ATENÇÃO:</b> somente é possível fazer a listagem de salas após ja ter cadastrado ao menos duas salas.</p>
        <br><br><h3>Incluir nova cafeteria:</h3><br>
        <p> Clicanco neste botão você tem acesso à página de cadastro de uma nova cafeteria ou sala de lanche no sistema. Após clicar neste botão você sera redirecionado para uma página onde deverá inserir o nome da sala em questão e finalizar seu cadastro clicando no botão "Incluir" que se encontrará logo abaixo do formulário.</p>
        <br><br><h3>Listar Salas:</h3><br>
        <p> Clicanco neste botão você tem acesso à página de listagem de todas as salas cadastrada. Nesta página é possível ver que pessoa está cadastrada em cada sala em cada período do evento e em que cafeteria cada participante está cadastrado para fazer seu intervalo.</p>
        <br><br><h3>Como utilizar este sistema</h3><br>
        <p> Clicanco neste botão você tem acesso a esta página que você está agora mesmo, você pode acessá-la a qualquer momento se sentir necessidade de tirar dúvidas.</p>
<br><br><br>
<p>Desenvolvedor deste sistema: Tiago Stasaitis.</p>
<p>Contato: stats.tiago@gmail.com</p>
    </center></body>
</html>