<!DOCTYPE html>
<html>

<head>
    <title>Formulário de Cadastro de Sala</title>
    <link rel="stylesheet" href="/static/css/styles_forms.css">
</head>

<body>
    <center>
    <h1>Cadastro de sala:</h1>
    <form action=/cadastrar_sala method=post>
        <p>Nome: <input type=text name=nome> <br><br><br> Lotação Max: <input type=number name=lotacao_maxima><br><br><br>
        <input type=submit value=Incluir></p>
    </form>
    <br><br><button><a href="http://localhost:4999">Voltar!</a></button>
    </center>
    
</body>

</html>