<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles_index.css">
        <title>Página Inicial</title>
    </head>
    <body><center>
        <h1>Sistema de Gerenciamento de Eventos</h1>
        <button><a href=/form_incluir_pessoa>Incluir nova pessoa!</a></button><br><br><br>
        <button><a href=/form_incluir_sala>Incluir nova sala!</a></button><br><br><br>
        <button><a href=/form_incluir_cafeteria>Incluir nova cafeteria!</a></button><br><br><br>
        <button><a href=/listar_salas>Listar Salas!</a></button><br><br><br>
        <button><a href=/ajuda>Como utilizar este sistema!</a></button><br><br><br><br><br><br>
        <p>Desenvolvedor deste sistema: Tiago Stasaitis.</p>
        <p>Contato: stats.tiago@gmail.com</p>

    </center></body>
</html>